* {
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans', sans-serif;
}

.img-food-rate {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #376822;
}

.food-detail, .list-review {
  max-width: 600px;
}

.card-footer .card-footer-text {
  font-size: 13px;
}

.img-profile {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #509E2F;
}

.review-name {
  font-size: 13px;
}

.ri-star-fill {
  color: #ffd700;
}

.review-comment p{
  font-size: 12px;
}