* {
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans', sans-serif;
}

.background-sign-up {
  background-image: url("../../assets/login.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.sign-up-card {
  width: 780px;
}

.file-upload {
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
}

.btn-upload {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}